<!-- StatusCake -->
{% if STATUSCAKE['trackid'] %}
<a href="httpss://www.statuscake.com" title="{{ SITENAME }} Uptime">
  <img src="httpss://www.statuscake.com/App/button/index.php?Track={{ STATUSCAKE['trackid'] }}&amp;Days={{ STATUSCAKE['days'] }}&amp;Design={{ STATUSCAKE['design'] }}" alt="{{ SITENAME }} Uptime"/>
</a>
{% endif %}

{% if STATUSCAKE['rumid'] %}
<script type="text/javascript">var SC_RumID = {{ STATUSCAKE['rumid'] }};</script>
<script type="text/javascript" async src="httpss://www.statuscake.com/App/RUM/embed.js"></script>
{% endif %}
<!-- End StatusCake -->
